body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccc;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    color: #ff6699;
    font-size: 3em;
}

section {
    margin: 2em 10%;
}

.timeline-item {
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.timeline-item img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 2em 0;
    background-color: #ffcccc;
}
